{% extends 'base.html' %}
{% block title %}Cookbook{% endblock %}
{% block content %}
<script type="text/javascript">
  const goToRecipe = id => {
    var url = `recipe/${id}`
    location.href = url
  }
</script>
<h1>{{ current_user.username }}'s Cookbook</h1>
{% if not current_user.recipes %}
<p>Looks like you don't have any recipes in your cookbook! Check out some recipes that other users have added.</p>
{% else %}
	{% for recipe in recipes %}
		<div class="recipe-img">
		<img src="{{ recipe['image'] }}" height="200", width="300" align="top">
		</div>
		<div class="recipe-title">
			<b>{{ recipe['title'] }}</b>
		</div>
	<br>
	<button name="go-to-recipe" onclick="goToRecipe({{ recipe['id'] }})">See Recipe</button>
		<br><br>
	{% endfor %}
{% endif %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<br>
<div>
	<b>Enter a url for a recipe</b>
	<form method="post">
		{{ form.csrf_token }}
		<fieldset class="form-field">
				{{ form.field.label }}
				{{ form.field }}
		</fieldset>
	{{ form.submit }}
	</form>
</div>

{% endblock %}
