{% extends 'base.html' %}
{% block content %}
{% if loggedin %}
<a href="{{ url_for('cookbook') }}"><button name="cookbook-button">Cookbook</button></a>
{% endif %}
<h1>{{ recipe['title'] }}</h1>
<div class="recipe-img">
  <img src="{{ recipe['image'] }}" height="200", width="300" align="top">
</div>
<br>
<div class="recipe-ingredients">
  <b>Ingredients</b>
  <ul>
    {% for ing in recipe['ingredients'] %}
    <li>{{ ing }}</li>
    {% endfor %}
  </ul>
</div>

<div class="recipe-instructions">
  <b>Instructions</b>
  <ul>
    {% for instr in recipe['instructions'] %}
    <li>{{ instr }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
